* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  width: 100%;
}

.header .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .options .option {
  padding: 10px 15px;
}

.header .options .cart-icon {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .options .cart-icon .shopping-icon {
  width: 24px;
  height: 24px;
}

.homepage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage .directory-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.homepage .directory-menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 30%;
  height: 240px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  margin: 7px;
  overflow: hidden;
}

.homepage .directory-menu .menu-item.large {
  height: 320px;
}

.homepage .directory-menu .menu-item .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.homepage .directory-menu .menu-item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage .directory-menu .menu-item .content {
  height: 90px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.5;
  position: absolute;
}

.homepage .directory-menu .menu-item .content:hover {
  opacity: 1;
}

.homepage .directory-menu .menu-item .content .title {
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
  margin: 10 6px 0;
}

.homepage .directory-menu .menu-item .content .subtitle {
  font-size: 14px;
  font-weight: lighter;
}
/*# sourceMappingURL=style.css.map */