* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Condensed";
  padding: 20px 40px;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  margin-bottom: 25px;
}

.header .logo-container {
  height: 100%;
  width: 70px;
  padding: 25px;
}

.header .options {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
}

.header .options .option {
  padding: 10px 15px;
}

.header .options .cart-icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .options .cart-icon .shopping-icon {
  width: 24px;
  height: 24px;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .directory-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.homepage .directory-menu .menu-item {
  display: flex;
  flex: 1 1 auto;
  width: 30%;
  height: 240px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 7px;
  overflow: hidden;
}

.homepage .directory-menu .menu-item.large {
  height: 320px;
}

.homepage .directory-menu .menu-item .background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.homepage .directory-menu .menu-item img {
  object-fit: cover;
}

.homepage .directory-menu .menu-item .content {
  height: 90px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  opacity: 0.5;
  position: absolute;
}

.homepage .directory-menu .menu-item .content:hover {
  opacity: 1;
}

.homepage .directory-menu .menu-item .content .title {
  font-size: 20px;
  font-weight: bold;
  color: #4a4a4a;
  margin: 10 6px 0;
}

.homepage .directory-menu .menu-item .content .subtitle {
  font-size: 14px;
  font-weight: lighter;
}

.shop-page {
  display: flex;
}

.shop-page .collection-page {
  display: flex;
  flex-direction: column;
}

.shop-page .collection-page .title {
  text-align: center;
  padding-bottom: 15px;
}

.shop-page .collection-page .items {
  display: flex;
  flex-wrap: wrap;
}

.shop-page .collection-page .items .collection-item {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 385px;
  overflow: hidden;
  padding: 10px;
}

.shop-page .collection-page .items .collection-item .image {
  width: 321px;
  height: 350px;
}

.shop-page .collection-page .items .collection-item .collection-footer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.shop-page .collection-page .items .collection-item .custom-button {
  margin-top: 15px;
}

.shop-page {
  display: flex;
}

.shop-page .title {
  padding-top: 10px;
  padding-bottom: 15px;
}

.shop-page .preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-page .preview .collection-item {
  padding: 10px;
  overflow: hidden;
  height: 400px;
}

.shop-page .preview .collection-item .image {
  width: 321px;
  height: 350px;
}

.shop-page .preview .collection-item .collection-footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
/*# sourceMappingURL=style.css.map */